@page "/ingredients"
@rendermode InteractiveServer
@using RecipeApp.Classes

@code{
    private bool DisplayAddIngredientModal = false;
    private string IngredientName;
    private string IngredientType;
    private decimal IngredientPrice = 0.00m;
    private int IngredientAmount = 0;

    private void AddIngredientButton()
    {
        DisplayAddIngredientModal = true;
    }

    private void SaveIngredient()
    {
        Ingredient ingredient = new Ingredient(IngredientName, IngredientType, IngredientPrice);
        ingredient.AddIngredient(IngredientAmount);

        IngredientName = IngredientType = string.Empty;
        IngredientPrice = 0.00m;
        IngredientAmount = 0;

        DisplayAddIngredientModal = false;
    }
}

<PageTitle>Ingredients</PageTitle>

<h1>Ingredients</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Value</th>
    </tr>
    @foreach (var ingredient in Classes.App.Ingredients)
    {
        <tr>
            <td>@ingredient.Key.Name</td>
            <td>@ingredient.Key.Type</td>
            <td>@ingredient.Key.Price</td>
            <td>@ingredient.Value</td>
        </tr>
    }
</table>

<button @onclick="AddIngredientButton">Add Ingredient</button>

@if (DisplayAddIngredientModal)
{
    <form @onsubmit="SaveIngredient">
        <label>Name:</label><br>
        <input type="text" @bind="IngredientName"><br>

        <label>Type:</label><br>
        <input type="text" @bind="IngredientType"><br>

        <label>Price:</label><br>
        <input type="text" @bind="IngredientPrice"><br><br>

        <label>Amount:</label><br>
        <input type="text" @bind="IngredientAmount"><br><br>

        <button type="submit">Save</button>
    </form>
}

